body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/img/pexels-anton-makarenko-109081-1078057.jpg');
  background-repeat: no-repeat; /* Que no se repita */
  background-size: cover; /* Que ocupe toda la pantalla */
  background-position: center; /* Centrar la imagen */
}

main{
    flex-grow: 1;
}

h1{
  background-color: rgb(169, 162, 149,0.5);
}